services:
  - type: web
    name: virtual-pet-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 5001
      - key: MONGODB_URI
        sync: false
      - key: CLIENT_ORIGIN
        sync: false
